<.header>
  Edit Sale <%= @sale.id %>
  <:subtitle>Use this form to manage sale records in your database.</:subtitle>
</.header>

<.sale_form changeset={@changeset} action={~p"/sales/#{@sale}"} />

<.back navigate={~p"/sales"}>Back to sales</.back>
